<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Data Mining</b></center>
<center><b><h1>Lab - 7 (Part 2)</b></center>    
<pre>

### Step 1: Load the Dataset
Load the `Tdata.csv` file and display the first few rows.

In [1]:
import pandas as pd
df = pd.read_csv('Tdata.csv')
df.head()

  Transaction  bread  butter  coffee  eggs  jam  milk
0          T1      1       1       0     0    0     1
1          T2      1       1       0     0    1     0
2          T3      1       0       0     1    0     1
3          T4      1       1       0     0    0     1
4          T5      1       0       1     0    0     0

### Step 2: Drop the 'Transaction' Column
We're only interested in the items (not the transaction IDs).

In [2]:
df = df.drop(columns=['Transaction'])

In [3]:
df.head()

   bread  butter  coffee  eggs  jam  milk
0      1       1       0     0    0     1
1      1       1       0     0    1     0
2      1       0       0     1    0     1
3      1       1       0     0    0     1
4      1       0       1     0    0     0

### Step 3: Count Single Items
See how many transactions include each item.

In [4]:
print(df.sum())

bread     5
butter    3
coffee    2
eggs      2
jam       2
milk      3
dtype: int64

### Step 4: Define Apriori Function
This function finds frequent itemsets of size 1, 2, and 3 with minimum support.

In [6]:
from itertools import combinations

def find_frequent_itemset(df,min_support):
    n=len(df)
    result=[]
    for k in [1, 2, 3]:
        for items in combinations(df.columns,k):
            mask=df[list(items)].all(axis=1)
            
            support=mask.sum()/n
            print(f"{set(items)} -> support: {round(support, 2)}")
            
            if support>= min_support:
                result.append((frozenset(items),round(support,2)))
    return result

### Step 5: Run Apriori
Set `min_support = 0.6` and display the frequent itemsets.

In [7]:
frequest_itemsets = find_frequent_itemset(df, min_support=0.5)

for itemset, support in frequest_itemsets:
    print(f"{set(itemset)} => support: {support}")

{'bread'} -> support: 0.83
{'butter'} -> support: 0.5
{'coffee'} -> support: 0.33
{'eggs'} -> support: 0.33
{'jam'} -> support: 0.33
{'milk'} -> support: 0.5
{'butter', 'bread'} -> support: 0.5
{'coffee', 'bread'} -> support: 0.17
{'bread', 'eggs'} -> support: 0.17
{'jam', 'bread'} -> support: 0.17
{'milk', 'bread'} -> support: 0.5
{'coffee', 'butter'} -> support: 0.0
{'butter', 'eggs'} -> support: 0.0
{'jam', 'butter'} -> support: 0.17
{'milk', 'butter'} -> support: 0.33
{'coffee', 'eggs'} -> support: 0.17
{'jam', 'coffee'} -> support: 0.17
{'milk', 'coffee'} -> support: 0.0
{'jam', 'eggs'} -> support: 0.17
{'milk', 'eggs'} -> support: 0.17
{'milk', 'jam'} -> support: 0.0
{'coffee', 'butter', 'bread'} -> support: 0.0
{'butter', 'bread', 'eggs'} -> support: 0.0
{'butter', 'jam', 'bread'} -> support: 0.17
{'butter', 'milk', 'bread'} -> support: 0.33
{'coffee', 'bread', 'eggs'} -> support: 0.0
{'coffee', 'jam', 'bread'} -> support: 0.0
{'coffee', 'milk', 'bread'} -> support: 0.0
{'jam', 'bread', 'eggs'} -> support: 0.0
{'milk', 'bread', 'eggs'} -> support: 0.17
{'milk', 'jam', 'bread'} -> support: 0.0
{'coffee', 'butter', 'eggs'} -> support: 0.0
{'coffee', 'jam', 'butter'} -> support: 0.0
{'coffee', 'milk', 'butter'} -> support: 0.0
{'jam', 'butter', 'eggs'} -> support: 0.0
{'milk', 'butter', 'eggs'} -> support: 0.0
{'milk', 'jam', 'butter'} -> support: 0.0
{'jam', 'coffee', 'eggs'} -> support: 0.17
{'milk', 'coffee', 'eggs'} -> support: 0.0
{'milk', 'jam', 'coffee'} -> support: 0.0
{'milk', 'jam', 'eggs'} -> support: 0.0
{'bread'} => support: 0.83
{'butter'} => support: 0.5
{'milk'} => support: 0.5
{'butter', 'bread'} => support: 0.5
{'milk', 'bread'} => support: 0.5

### Step 6 Display as a DataFrame

In [8]:
result_df=pd.DataFrame(frequest_itemsets,columns=['itemset','support'])
result_df

           itemset  support
0          (bread)     0.83
1         (butter)     0.50
2           (milk)     0.50
3  (butter, bread)     0.50
4    (milk, bread)     0.50

# Orange Tool : - >Generate Same Frequent Patterns in Orange tools

# Extra : - >  Define Apriori Function without itertools